/* .myInfo {
    background-image: url('../../../../public/assets/images/cover.jpg');
    min-height: fit-content;
    background-size: cover;
} */

.myInfo-name {
    font-size: 1.5rem;
    font-family: "Poppins SemiBold";
}

h1 {
    font-size: 2.5rem;
    font-family: cursive;
}

.myInfo-tagline {
    font-size: 1.3rem;
    font-family: "Poppins Light";
}